<div class="header-mobile">
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-3 header">
          
          <div class="btn-menu float-left"><a data-trigger="#menu-mobile" href="javascript:void(0);"><i class="bars"></i></a></div>
        <div class="logo d-flex justify-content-center">{% if logo %}<a href="{{ home }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-fluid" /></a>{% else %}
          <h1><a href="{{ home }}">{{ name }}</a></h1>
          {% endif %}</div>
         <div class="menu-cart">
         <div id="cart" class="header-cart {% if text_items > 0 %}active{% else %}{% endif %}">
           <a  data-trigger="#cart-mini" href="javascript:void(0);" id="header-cart-action"><i class="icon-cart"></i> <span id="cart-total">{{ text_items }}</span></a>
          </div> 
         </div>
      </div>
      <div class="col-sm-5 search-mobile">{{ search_mobile }}</div>
      </div>
  </div>
</header>
{{ menu_mobile }}
{{ cart_mobile }}
</div>