<div class="menu-fulls">
<div class="container">
  
<nav id="menu-mobile" class="mobile-offcanvas navbar navbar-expand-lg">
<div class="offcanvas-header">  
    <div class=" menu-account float-left">
             {% if logged %}
           {{ text_logged_user }}
           {% else %}
               {{ text_welcome_user }}
           {% endif %}
         </div>
        <div class="btn-menu float-right"><a href="javascript:void(0);" class="btn-close"><i class="close-left"></i></a></div>
</div>
{% if categories %}
    <div class="content-menu-mobile menu-mobile">
    <ul class="navbar-nav menu">
          {% for category in categories %}
            {% if category.children %}
              <li class="item-submenu navitem-submenu_first " menu="{{ category.count_menu }}"><a class="title" href="javascript:void(0);" class="nav-link">{{ category.name }}</a>
                   {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                      <ul class="sub-menu">
                       <!--<li class="menu-voltar"><i class="material-icons"></i>Voltar</li> -->
                        {% for child in children %}
                          <li class="item-submenu_sub" menu="{{ category.count_menu }}"><a href="{{ child.href }}" class="nav-link">{{ child.name }}</a></li>
                        {% endfor %}
                      </ul>
                    {% endfor %}
              </li>
            {% else %}
              <li class="nav-item"><a href="{{ category.href }}" class="nav-link">{{ category.name }}</a></li>
            {% endif %}
          {% endfor %}
          {% if informations %}
         {% for information in informations %}
          <li class="item-submenu2"><a class="nav-link" href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
      {% endif %}
      	<li class="item-submenu2"> <b style="color: #f70303;font-weight: 700;font-size: 16px;">Preciso de ajuda:</b></li>
	<li class="item-submenu2"><a class="nav-link" href="{{ contact }}">Consumidor</a></li>
         <li class="item-submenu2"><a class="nav-link" href="{{ contact }}">Revendedor</a></li>

        
        </ul>
        </div> 
{% endif %}
</nav>
</div>        
</div>
