<link href="catalog/view/theme/default/stylesheet/faturado/skeleton/normalize.css?v=2.7.3" rel="stylesheet" type="text/css" />
<link href="catalog/view/theme/default/stylesheet/faturado/skeleton/skeleton.css?v=2.7.3" rel="stylesheet" type="text/css" />
<style>
  #responsivo .button.button-primary,
  #responsivo button.button-primary,
  #responsivo input[type="submit"].button-primary,
  #responsivo input[type="reset"].button-primary,
  #responsivo input[type="button"].button-primary {
    color: {{ cor_normal_texto }};
    background-color: {{ cor_normal_fundo }};
    border-color: {{ cor_normal_borda }};
  }
  #responsivo .button.button-primary:hover,
  #responsivo button.button-primary:hover,
  #responsivo input[type="submit"].button-primary:hover,
  #responsivo input[type="reset"].button-primary:hover,
  #responsivo input[type="button"].button-primary:hover,
  #responsivo .button.button-primary:focus,
  #responsivo button.button-primary:focus,
  #responsivo input[type="submit"].button-primary:focus,
  #responsivo input[type="reset"].button-primary:focus,
  #responsivo input[type="button"].button-primary:focus {
    color: {{ cor_efeito_texto }};
    background-color: {{ cor_efeito_fundo }};
    border-color: {{ cor_efeito_borda }};
  }
</style>
<div id="responsivo">
  <h4><strong>{{ text_instrucoes }}</strong></h4>
  <form onkeypress="return event.keyCode != 13" id="payment">
    {% if exibir_parcelas %}
    <div class="row-form">
      <div id="parcelas" class="six columns value">
        <label class="" for="input-parcelas"><strong>{{ entry_parcelas }}</strong></label>
        <select name="parcelas" id="input-parcelas" class="u-full-width">
        </select>
      </div>
    </div>
    {% endif %}
    <input class="button-primary" value="{{ button_confirmar }}" id="button-confirm" data-loading-text="{{ text_aguarde }}" type="button">
  </form>
</div>
<script type="text/javascript"><!--
  {% if exibir_parcelas %}
  function parcelas() {
    json = {{ parcelamento }};
    html = '<label class="" for="input-parcelas"><strong>{{ entry_parcelas }}</strong></label>';
    html += '<select name="parcelas" id="input-parcelas" style="display: inline;" class="u-full-width">';
    for (i = 0; i <= json.length-1; i++) {
      valor = '';

      {% if exibir_valor %}
      valor = '{{ text_de }}' + json[i]['valor'] + '{{ text_total }}' + json[i]['total'];
      {% endif %}

      if (json[i]['juros'] == '0') {
        parcela = json[i]['parcela'] + 'x' + valor + ' ({{ text_sem_juros }})';
      } else {
        {% if exibir_juros %}
        parcela = json[i]['parcela'] + 'x' + valor + ' (' + json[i]['juros'] + '{{ text_juros }})';
        {% else %}
        parcela = json[i]['parcela'] + 'x' + valor + ' ({{ text_com_juros }})';
        {% endif %}
      }
      html += '<option value="' + parcela + '">' + parcela + '</option>';
    }
    html += '</select>';
    $('#parcelas').html(html);
  };
  parcelas();
  {% endif %}
  $('#button-confirm').on('click', function() {
    $('input[name="parcelas"]').removeClass('alert-danger');
      if ($('select[name="parcelas"]').val() != "") {
        $.ajax({
          url: 'index.php?route=extension/payment/faturado/confirm',
          type: 'post',
          data: $('#payment select'),
          beforeSend: function() {
            $('#button-confirm').button('loading');
          },
          complete: function() {
            $('#button-confirm').button('reset');
          },
          success: function() {
            location = '{{ continue }}';
          }
        });
    } else {
      $('select[name="parcelas"]:visible').focus();
      $('select[name="parcelas"]').toggleClass('alert-danger');
    }
  });
//--></script>
