  <div class="list-group">
  
    <span id="pdf_catalog_container">
    <img src="image/data/pdf.png" alt="" />
    {{ heading_title }}
    </span>

{% if categories %}


<select style="width:160px;" onchange="fn_pdf_category(this.options[this.selectedIndex].value);">
<option value="">{{ text_select }}</option>


{% for category in categories %}


<option value="{{ category.category_id }}">{{ category.name }}</option>
{% endfor %}

</select>

{% else %}
<div id="pdf_button">
<input type="button" class="btn btn-primary" value="
{{ text_all_categories }}" onclick="fn_pdf_category('0');" id="pdf_button" name="pdf_button">
</input>
</div>
{% endif %}


</div>
<script type="text/javascript">
function fn_pdf_category(category_id){
if(category_id != ""){
window.open("{{ pdf_catalog_href }}+category_id, window_pdf', 'width=800, height=600, toolbar=1, resizable=1");
}
}
</script>




