{{ header }}
<section data-type="main-body">
<div class="container">
   <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content"  class="{{ class }}">{{ content_top }}
   
	 <div class="lead text-center row checkout-wizard">
                <div id="ar-step-account" class="col-md-4 checkout-step" data-checkout-step="1">
                    <div class="progress"><div class="progress-bar"></div></div>
                    <div class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x checkout-header-circle"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse checkout-header-icon"></i>
                    </div>
                    <div class="fa-title">
                        <span>{{ text_checkout_account }}</span>
                    </div>
                </div>
                <div id="ar-step-address" class="col-md-4 checkout-step" data-checkout-step="2">
                    <div class="progress"><div class="progress-bar"></div></div>
                    <div class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x checkout-header-circle"></i>
                        <i class="fa fa-truck fa-stack-1x fa-inverse checkout-header-icon"></i>
                    </div>
                    <div class="fa-title">
                        <span>{{ text_checkout_payment_address }}</span>
                    </div>
                </div>
                <div id="ar-step-payment" class="col-md-4 checkout-step" data-checkout-step="3">
                    <div class="progress"><div class="progress-bar"></div></div>
                    <div class="fa-stack">
                        <i class="fas fa-circle fa-stack-2x checkout-header-circle"></i>
                        <i class="fa fa-credit-card fa-stack-1x fa-inverse checkout-header-icon"></i>
                    </div>
                    <div class="fa-title">
                        <span>{{ text_checkout_payment_method }}</span>
                    </div>
                </div>
            </div>
			<div class="row">
	  <div class="col-lg-4 col-sm-12 panel-np-left">
                <div class="card mt-3">
                  <h4 class="card-title">{{ text_checkout_option }}</h4>
                    <div id="account-select">
                        <div class="card-body">
						<div class="custom-control custom-radio">
						<input type="radio" id="account-login" value="login" name="account"  class="custom-control-input" />
                        <label class="custom-control-label" for="account-login">{{ text_login }}</label>
                        </div>
						<div class="custom-control custom-radio">
						<input type="radio" id="account-register" name="account" value="register" checked="checked" class="custom-control-input" />
                        <label class="custom-control-label" for="account-register">{{ text_register }}</label>
                        </div>
						 {% if checkout_guest %}
						<div class="custom-control custom-radio">
						<input type="radio" id="account-guest" name="account" value="guest"  class="custom-control-input" />
                        <label class="custom-control-label" for="account-guest">{{ text_guest }}</label>
                        </div>
		    {% endif %}
       <!--<p>{{ text_register_account }}</p>-->
                        </div>
                    </div>
                </div>

                <div class="card mt-3">
                    
		<h4 class="card-title">{{ text_checkout_shipping_method }}</h4>
                  
                    <div id="ar-left-1">
                        <div class="card-body"></div>
                    </div>
                </div>
                <div class="card mt-3 ">
                   
                        <h4 class="card-title">Total</h4>
                          <div id="ar-left-2">
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
			<div class="col-lg-8 col-sm-12 panel-np-right">
                <div class="card mt-3">
                    
                        <h4 class="card-title"></h4>
                    
                    <div id="checkout-right">
                        <div class="card-body"></div>
                    </div>
                </div>
            </div>
			 </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
</section>	
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.0/jquery.mask.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.min.js"></script>


<script type="text/javascript">
   $(document).ajaxStart($.blockUI).ajaxStop($.unblockUI);

// catch all events ajax
$.blockUI.defaults.message = '<h1 style="color: #fff !important;"><i class="fa fa-spinner fa-pulse"></i> Carregando...</h1>';
// override these in your code to change the default behavior and style
$.blockUI.defaults.css = {
    padding: '15px',
    margin: 0,
    width: '30%',
    top: '30%',
    left: '35%',
    textAlign: 'center',
    border: 'none',
    backgroundColor: '#000',
    'border-radius': '5px 5px 5px 5px',
    opacity: .5,
    color: '#fff',
    cursor: 'wait'
};

   
</script>
 {% if error_warning %}
<script type="text/javascript"><!--
 bootbox.dialog({
message: '<i class="fa fa-exclamation-circle"></i> {{ error_warning }}',
title: "Erro",
});	
//--></script>
  {% endif %}
<script type="text/javascript"><!--
// Account
$(document).on('change', 'input[name=\'account\']:checked', function() {
    var checkout_select = $(this).attr('value');
    var ajax_url = 'index.php?route=checkout/'+checkout_select;
    if (checkout_select == 'register') {
    $('#checkout-right').parent().find('.card-title').html('{{ text_checkout_account }}');
  
    }else if (checkout_select == 'login') {
        $('#checkout-right').parent().find('.card-title').html('{{ text_login }}');
    }
    $.ajax({
        url: ajax_url,
        type: 'post',
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#checkout-right .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(json) {
       $('#checkout-right .card-body').html(json);
             // $('#checkout-right #button-payment-address').click();
			 		 //mascara de cadastro
    $('#input-payment-custom-field3').mask('00/00/0000');
    $('#input-payment-custom-field1').mask('000.000.000-00', {reverse: false});
    //$('#input-payment-custom-field2').mask('00.000.000-0', {reverse: false});
     $('#input-payment-telephone').mask('(00) 0000-0000');
    $('#input-payment-fax').mask('(00) 00000-0000');
                  //endereço
    $('#input-payment-postcode').mask('00000-000');
   $('#input-payment-custom-field2').mask('0000000');

        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
});

// Login save
$(document).on('click', '#button-login', function() {
    $.ajax({
        url: 'index.php?route=checkout/login/save',
        type: 'post',
        data: $('#checkout-right :input'),
        dataType: 'json',
        beforeSend: function() {
            $('#button-login').button('loading');
        },
        complete: function() {
            $('#button-login').button('reset');
        },
        success: function(json) {
            $('.alert, .text-danger').remove();
            $('.form-group').removeClass('has-error');
            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
              //  $('#checkout-right .card-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				bootbox.dialog({
			message: '<i class="fa fa-exclamation-circle"></i>'+json['error']['warning'],
			title: "Erro",
			});	
                // Highlight any found errors
                $('input[name=\'email\']').parent().addClass('has-error');
                $('input[name=\'password\']').parent().addClass('has-error');
            }
            else {
                // $('#ar-step-account').find('.fa-stack').addClass('checkout-pointer');
               // $('#ar-step-account').find('.fa-title').addClass('checkout-pointer');
                $('#ar-step-account').removeClass('text-primary');
                $('#ar-step-account').addClass('text-success');
                $('#ar-step-address').removeClass('text-muted');
                $('#ar-step-address').addClass('text-primary');

                $('#account-select').parent().hide();
                {% if shipping_required %}
                $('#ar-left-1').parent().show();
                 {% endif %}
              // $('#checkout-right #button-payment-address').click();
            $('#checkout-right').parent().find('.card-title').html('{{ text_address }}');
			//$('#checkout-banner').parent().parent().find('.page-header h1').html('{{ text_address  }}');

            loadAddress();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
// Register save
$(document).delegate('#button-register', 'click', function() {
    $.ajax({
        url: 'index.php?route=checkout/register/save',
        type: 'post',
        data: $('#checkout-right input[type=\'text\'], #checkout-right input[type=\'date\'], #checkout-right input[type=\'datetime-local\'], #checkout-right input[type=\'time\'], #checkout-right input[type=\'password\'], #checkout-right input[type=\'hidden\'], #checkout-right input[type=\'checkbox\']:checked, #checkout-right input[type=\'radio\']:checked, #checkout-right textarea, #checkout-right select'),
        dataType: 'json',
        beforeSend: function() {
            $('#button-register').button('loading');
        },
        complete: function() {
            $('#button-register').button('reset');
        },
        success: function(json) {
            $('.alert, .text-danger').remove();
            $('.form-group').removeClass('has-error');
            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
					var dialog = bootbox.dialog({
    message: '<p class="text-center mb-0"><i class="fa fa-exclamation-circle"></i> '+json['error']['warning']+'</p>',
    closeButton: true
});
            
// do something in the background
dialog.modal('hide');
			
                   // $('#checkout-right .card-body').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                for (i in json['error']) {
                    var element = $('#input-payment-' + i.replace('_', '-'));

                    if ($(element).parent().hasClass('input-group')) {
                        $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                    } else {
                        $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                    }
                }
                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
                $('.form-group.col-sm-6').css('margin-bottom', '30px');
            } else {
               //$('#ar-step-account').find('.fa-stack').addClass('checkout-pointer');
                //$('#ar-step-account').find('.fa-title').addClass('checkout-pointer');
                $('#ar-step-account').removeClass('text-primary');
                $('#ar-step-account').addClass('text-success');
                $('#ar-step-address').removeClass('text-muted');
                $('#ar-step-address').addClass('text-primary')
				
                $('#account-select').parent().hide();
                 {% if shipping_required %}
                $('#ar-left-1').parent().show();
                {% endif %}
            $('#checkout-right').parent().find('.card-title').html('{{ text_address }}');
			//$('#checkout-banner').parent().parent().find('.page-header h1').html('{{ text_address  }}');

            loadAddress();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
// Guest save
$(document).on('click', '#button-guest', function() {
    $.ajax({
        url: 'index.php?route=checkout/guest/save',
        type: 'post',
        data: $('#checkout-right input[type=\'text\'], #checkout-right input[type=\'date\'], #checkout-right input[type=\'datetime-local\'], #checkout-right input[type=\'time\'], #checkout-right input[type=\'checkbox\']:checked, #checkout-right input[type=\'radio\']:checked, #checkout-right input[type=\'hidden\'], #checkout-right textarea, #checkout-right select'),
        dataType: 'json',
        beforeSend: function() {
            $('#button-guest').button('loading');
        },
        complete: function() {
            $('#button-guest').button('reset');
        },
        success: function(json) {
            $('.alert, .text-danger').remove();
            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
				bootbox.dialog({
			message: '<i class="fa fa-exclamation-circle"></i>'+json['error']['warning'],
			title: "Erro",
			});	
                   // $('#checkout-right .card-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                for (i in json['error']) {
                    var element = $('#input-guest-' + i.replace(/_/g, '-'));
                    if ($(element).parent().hasClass('input-group')) {
                        $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                    } else {
                        $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                    }
                }
                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
                $('.form-group.col-sm-6').css('margin-bottom', '30px');
            } else {
               
                $('#account-select').parent().hide();
				
                {% if shipping_required %}
                $('#ar-left-1').parent().show();
                {% endif %}
            $('#checkout-right').parent().find('.card-title').html('{{ text_address }}');
			//$('#checkout-banner').parent().parent().find('.page-header h1').html('{{ text_address  }}');

            loadAddress();
            $('html, body').animate({ scrollTop: 0 }, 'slow');
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
                       
// Address save//
                        
                        
$(document).on('click', '#button-payment-address', function() {
    $.ajax({
        url: 'index.php?route=checkout/address/save',
        type: 'post',
		data: $('#ar-left-1 input[type=\'radio\']:checked, #checkout-right input[type=\'text\'], #checkout-right input[type=\'date\'], #checkout-right input[type=\'datetime-local\'], #checkout-right input[type=\'time\'], #checkout-right input[type=\'password\'], #checkout-right input[type=\'checkbox\']:checked, #checkout-right input[type=\'radio\']:checked, #checkout-right input[type=\'hidden\'], #checkout-right textarea, #checkout-right select'),
        dataType: 'json',
        beforeSend: function() {
            $('#button-payment-address').button('loading');
        },
        complete: function() {
            $('#button-payment-address').button('reset');
        },
        success: function(json) {
            $('.alert-dismissible, .text-danger').remove();
	    $('.form-group').removeClass('has-error');
            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
		
                 $('#checkout-right .card-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
                for (i in json['error']) {
                var element = $('#input-payment-' + i.replace('_', '-'));

                    if ($(element).parent().hasClass('input-group')) {
                        $(element).parent().after('<div class="text-danger">' + json['error'][i] + '</div>');
                    } else {
                        $(element).after('<div class="text-danger">' + json['error'][i] + '</div>');
                    }
                }
                // Highlight any found errors
                $('.text-danger').parent().addClass('has-error');
            } else {
		//$('#ar-step-address').find('.fa-stack').addClass('checkout-pointer');
                //$('#ar-step-address').find('.fa-title').addClass('checkout-pointer');
                $('#ar-step-account').addClass('text-success');
                $('#ar-step-address').addClass('text-success');
                $('#ar-step-payment').addClass('text-primary');
               
                $('#checkout-right').parent().find('.card-title').html('{{ text_checkout_confirm }}');
                $('#ar-left-1').parent().find('.card-title').html('{{ text_checkout_payment_method }}');
		//$('#checkout-banner').parent().parent().find('.page-header h1').html('{{ text_checkout_payment_method  }}');

                $('#checkout-right .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
                $('#ar-left-1').parent().show();
               {% if shipping_required %}
                $('#ar-left-2').parent().find('.card-title').html('{{ text_checkout_shipping_method }} ');
		//$('#checkout-banner').parent().parent().find('.page-header h1').html('{{ text_delivery_address  }}');
                $('#ar-left-2 .card-body').html(json['address']);
				console.log(json);
                {% else %}
                $('#ar-left-2').parent().hide();
                {% endif %}
               loadPaymentMethodsByAddressId($('select[name=\'address_id\']').val());
			   
			$('html, body').animate({ scrollTop: 0 }, 'slow');
      }
    },
    error: function(xhr, ajaxOptions, thrownError) {
      alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
// ToS control
{% if (error_agree is not empty) %}
    $(document).on('submit', '#checkout-right form', function(event) {
        if (!checkTerms()) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
    });
    $(document).on('click', '#button-confirm', function(event) {
        if (!checkTerms()) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
    });
{% endif %}
// Check ToS box
function checkTerms() {
   {% if (error_agree is not empty) %}
    return true;
{% endif %}
if (!$('input[name=\'agree\']').is(':checked')) {
    if(!$('.alert').length) {
	var dialog = bootbox.dialog({
    message: '<p class="text-center mb-0"><i class="fa fa-exclamation-circle"></i> {{ error_agree }}</p>',
    closeButton: false
});
            
// do something in the background
dialog.modal('hide');
      //$('#ar-right-1 .card-body').prepend('<div class="alert alert-danger">{{ error_agree }}<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
}
return false;
}
else {
    $('.alert').remove();
    return true;
}
}


// Steps
$(document).on('click', '.checkout-pointer', function() {
    var checkout_step = $(this).parent().attr('id');
    if (checkout_step == 'ar-step-account') {
                 $('#ar-step-payment').removeClass('text-primary');
        $('#ar-step-payment').addClass('text-muted');
        $('#ar-step-address').removeClass('text-success');
        $('#ar-step-address').removeClass('text-primary');
        $('#ar-step-address').addClass('text-muted');
        $('#ar-step-address').find('.fa-stack').removeClass('checkout-pointer');
        $('#ar-step-address').find('.fa-title').removeClass('checkout-pointer');
        $('#ar-step-account').removeClass('text-success');
        $('#ar-step-account').addClass('text-primary');
        $('#ar-step-account').find('.fa-stack').removeClass('checkout-pointer');
        $('#ar-step-account').find('.fa-title').removeClass('checkout-pointer');
        $('#account-select').parent().show();
        $('#ar-left-1').parent().hide();
        $('#ar-left-2').parent().find('.card-title').html('Total');
        loadTotals();
    }
    else if (checkout_step == 'ar-step-address') {
        $('#ar-step-address').find('.fa-stack').removeClass('checkout-pointer');
        $('#ar-step-address').find('.fa-title').removeClass('checkout-pointer');
        $('#ar-step-address').removeClass('text-success');
        $('#ar-step-address').addClass('text-primary');
        $('#ar-step-payment').removeClass('text-primary');
        $('#ar-step-payment').addClass('text-muted');
        $('#checkout-right').parent().find('.card-title').html('{{ text_address }}');

       {% if not shipping_required %}
        $('#ar-left-1').parent().hide();
        {% endif %}
    $('#ar-left-2').parent().find('.card-title').html('Total');
    $('#ar-left-2').parent().show();
    loadAddress();
  }
});
// Check ToS box
// Load totals
function loadTotals() {
    $.ajax({
        url: 'index.php?route=checkout/totals',
        type: 'post',
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#ar-left-2 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(html) {
            $('#ar-left-2 .card-body').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Load totals by address id
function loadTotalsByAddressId(address_id) {
    $.ajax({
        url: 'index.php?route=checkout/totals',
        type: 'post',
        data: {address_id: address_id},
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#ar-left-2 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(html) {
            $('#ar-left-2 .card-body').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Load totals by new address fields
function loadTotalsByAddressFields(address_type, address_country_id, address_zone_id, address_city, address_postcode) {
    $.ajax({
        url: 'index.php?route=checkout/totals',
        type: 'post',
        data: {address_type: address_type, address_country_id: address_country_id, address_zone_id: address_zone_id, address_city: address_city, address_postcode: address_postcode},
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#ar-left-2 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(html) {
            $('#ar-left-2 .card-body').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Load address
function loadAddress() {
    $.ajax({
        url: 'index.php?route=checkout/address',
        type: 'post',
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#checkout-right .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(html) {
            $('#checkout-right .card-body').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Methods related with shipping
{% if shipping_required %}
// Load shipping methods
    function loadShippingMethods() {
        $.ajax({
            url: 'index.php?route=checkout/shipping_method',
            type: 'post',
            dataType: 'html',
            cache: false,
            beforeSend: function() {
                $('#ar-left-1 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
            },
            success: function(html) {
			    $('#ar-left-1').find('.card-body').addClass("pt-0");
                $('#ar-left-1 .card-body').html(html);
                saveShippingMethod();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
// Load shipping methods by addresss id
    function loadShippingMethodsByAddressId(address_id) {
        $.ajax({
            url: 'index.php?route=checkout/shipping_method',
            type: 'post',
            data: {address_id: address_id},
            dataType: 'html',
            cache: false,
            beforeSend: function() {
                $('#ar-left-1 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
            },
            success: function(html) {
                $('#ar-left-1 .card-body').html(html);
                saveShippingMethod();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
// Load shipping methods by new address fields
    function loadShippingMethodsByAddressFields(address_type, address_country_id, address_zone_id, address_city, address_postcode) {
        $.ajax({
            url: 'index.php?route=checkout/shipping_method',
            type: 'post',
            data: {address_type: address_type, address_country_id: address_country_id, address_zone_id: address_zone_id, address_city: address_city, address_postcode: address_postcode},
            dataType: 'html',
            cache: false,
            beforeSend: function() {
                $('#ar-left-1 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
            },
            success: function(html) {
                $('#ar-left-1 .card-body').html(html);
                saveShippingMethod();
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
// Save the selected shipping method
    function saveShippingMethod() {
        var shipping_method = $('input[name=\'shipping_method\']:checked').attr('value');
        if (shipping_method == undefined) {
            shipping_method = 0;
        }
        $.ajax({
            url: 'index.php?route=checkout/shipping_method/save',
            type: 'post',
            data: {shipping_method: shipping_method},
            dataType: 'html',
            cache: false,
            success: function(json) {
                if (json['redirect']) {
                    location = json['redirect'];
                } else if (json['error']) {
                    if (json['error']['warning']) {
                        $('#ar-left-1 .card-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                    }
                } else {
                    loadTotals();
                }
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
            }
        });
    }
{% endif %}
// Load payment methods
function loadPaymentMethods() {
    $.ajax({
        url: 'index.php?route=checkout/payment_method',
        type: 'post',
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#ar-left-1 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(html) {
            $('#ar-left-1 .card-body').html(html);
            savePaymentMethod();
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Load payment methods by addresss id
function loadPaymentMethodsByAddressId(address_id) {
    $.ajax({
        url: 'index.php?route=checkout/payment_method',
        type: 'post',
        data: {address_id: address_id},
        dataType: 'html',
        cache: false,
        beforeSend: function() {
            $('#ar-left-1 .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(html) {
            $('#ar-left-1 .card-body').html(html);
            savePaymentMethod();
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Save the selected payment method
function savePaymentMethod() {
    var payment_method = $('input[name=\'payment_method\']:checked').attr('value');
    if (payment_method == undefined) {
        payment_method = 0;
    }
    $.ajax({
        url: 'index.php?route=checkout/payment_method/save',
        type: 'post',
        data: {payment_method: payment_method},
        dataType: 'json',
        cache: false,
        beforeSend: function() {
            $('#checkout-right .card-body').html('<div class="text-center"><i class="fa fa-spinner fa-spin checkout-spin"></i></div>');
        },
        success: function(json) {
            if (json['redirect']) {
                location = json['redirect'];
            } else if (json['error']) {
                if (json['error']['warning']) {
                    $('#ar-left-1 .card-body').prepend('<div class="alert alert-warning">' + json['error']['warning'] + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
                }
            } else {
                loadConfirm();
            }
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}
// Load confirm page
function loadConfirm() {
    $.ajax({
        url: 'index.php?route=checkout/confirm',
        type: 'post',
        dataType: 'html',
        cache: false,
        success: function(html) {
            $('#checkout-right .card-body').html(html);
        },
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
    });
}


// Initial actions
{% if not logged %}
    $('#ar-left-1').parent().hide();
    $('#ar-step-account').addClass('text-primary');
    $('#ar-step-address').addClass('text-muted');
    $('#ar-step-payment').addClass('text-muted');
    $('input[name=\'account\']:checked').trigger('change');
    loadTotals();
     {% else %}
    //$('#ar-step-account').find('.fa-stack').addClass('checkout-pointer');
    //$('#ar-step-account').find('.fa-title').addClass('checkout-pointer');
    $('#ar-step-account').addClass('text-success');
    $('#ar-step-address').addClass('text-primary');
    $('#ar-step-payment').addClass('text-muted');
    $('#account-select').parent().hide();
    $('#checkout-right').parent().find('.card-title').html('{{ text_checkout_shipping_address }}');
    {% if not shipping_required %}
    $('#ar-left-1').parent().hide();
      {% endif %}
loadAddress();
{% endif %}
//--></script>
{{ footer }}