
    <div class="form-group login">
      <input type="text" name="email" value="" placeholder="{{ entry_email }}" id="input-email" class="form-control" />
    </div>
    <div class="form-group">
      <input type="password" name="password" value="" placeholder="{{ entry_password }}" id="input-password" class="form-control" />
      <a href="{{ forgotten }}" class="forgotten-password">{{ text_forgotten }}</a></div>
	  	 <div class="d-flex justify-content-around bd-highlight">

	 <div class="col-12 col-sm-12 col-md-4">
    <input type="button" value="{{ button_login }}" id="button-login" data-loading-text="{{ text_loading }}" class="btn btn-primary btn-lg btn-block" />
 </div>
  </div>
<script type="text/javascript"><!--
$('#checkout-right input').keydown(function(e) {
    if (e.keyCode == 13) {
        $('#button-login').click();
    }
});
//--></script>
