<div class="clearfix"></div>
<div class="sliderbox">
  <div class="box-heading"> {{ heading_title }}</div>
  <div class="row">
  <div class="col-sm-4">
     <div class="product-thumb transition">
      <a href="{{ category_link }}"><img src="{{ catimag }}" alt="{{ heading_title }}" title="{{ heading_title }}" class="img-responsive" /></a>
    </div>
  </div>
  <div class="col-sm-8">
  <div class="swiper-container" id="carousel-{{ carousel_id }}">
     <div class="swiper-wrapper">
      
    {% for product in products %}
       <div class="swiper-slide text-center" style="min-height: 300px;max-height: 300px;">
      <div class="item">
        <div class="product-thumb transition">
          <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
          <div class="prodname"><a href="{{ product.href }}">{{ product.name }}</a></div>
          {% if product.price %}
            <p class="price"> {% if not product.special %}
              {{ product.price }}
              {% else %} <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span> {% endif %}
              {% if product.tax %} <span class="price-tax">{{ text_tax }} {{ product.tax }}</span> {% endif %} </p>
            {% endif %}
            
            <div class="button-group">
              <button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
              <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
            </div>

          </div>
        </div>
      </div>
      {% endfor %}
    
  </div><br/><br/><br/>
       <div class="swiper-pagination carousel-{{ carousel_id }}"></div>
    </div>
 
  </div>
  </div>
</div>
<script type="text/javascript">
$('#carousel-{{ carousel_id }}').swiper({
  mode: 'horizontal',
  slidesPerView: 3,
  pagination: '.carousel-{{ carousel_id }}',
  paginationClickable: true,
  nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
  autoplay: 2500,
  loop: true,
  breakpoints: {
    // when window width is <= 320px
    320: {
      slidesPerView: 1,
      spaceBetween: 10
    },
    // when window width is <= 480px
    480: {
      slidesPerView: 1,
      spaceBetween: 20
    },
    // when window width is <= 640px
    640: {
      slidesPerView: 1,
      spaceBetween: 30
    }
  }
});

  /*$(document).ready(function() {
  var owl = $('#bycategory-juices');
  owl.owlCarousel({
  margin: 20,
  autoplay:true,
  nav: true,
  navText: ["<span class='fa fa-angle-left'></span>","<span class='fa fa-angle-right'></span>"],
  dots:false,
  loop: true,
  responsive: {
  0: {
  items: 2
  },
  600: {
  items: 3
  },
  1000: {
  items: 4
  }
  }
  })
  })*/
  </script>