{{ header }}
<div id="account-account" class="container">
  {% include 'tritao/template/common/breadcrumbs.twig' %}
    {% if success %}
        <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
    {% endif %}
    <div class="row">{{ column_left }}
        {% if column_left and column_right %}
            {% set class = 'col-sm-6' %}
        {% elseif column_left or column_right %}
            {% set class = 'col-sm-9' %}
        {% else %}
            {% set class = 'col-sm-12' %}
        {% endif %}
        <div id="content" class="{{ class }}">{{ content_top }}
            <div class="account"> 
                {{ nav_tabs }}
                <div class="account-content"> 
                    <h3> {{ text_my_account }} <small class="d-none d-md-inline"> Confirme ou edite seus dados cadastrais.</small> </h3>
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <fieldset>
                                <legend><i class="fa fa-list"></i> Dados Cadastrais</legend>
                                <div class="card">
                                    <ul>
                                        <li><b>Nome:</b> <span>{{ customer_name }}</span></li>
                                            {% if custom_fields %}
                                                {% for custom_field in custom_fields %}
                                                    {% if custom_field.custom_field_id == "3" %}
                                                    <li><b>{{ custom_field.name }}:</b> <span>{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</span></li>
                                                    {% endif %}
                                                {% endfor %}

                                        {% endif %}
                                        <li><b>E-mail:</b> <span>{{ customer_email }}</span></li>
                                    </ul>
                                </div>
                            </fieldset>
                            <div class="text-right">
                                <div class="col-sm-12 pr-0 pl-0">
                                    <a href="{{ password }}" class="btn btn-outline-secondary float-left btn-sm"><i class="fas fa-unlock-alt"></i> {{ text_password }}</a>
                                    <a href="{{ edit }}" class="btn btn-outline-primary float-right btn-sm"><i class="far fa-edit"></i> Editar dados cadastrais</a>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <!--<fieldset>
                                <legend><i class="fa fa-list"></i> Tipo de Cadastro</legend>
                                <div class="card">
                                    <ul>
                                        {% for customer_group in customer_groups %}
                                            {% if customer_group.customer_group_id == customer_group_id %}
                                                <li><b>Tipo de cadastro:</b> <span>{{ customer_group.name }}</span></li>
                                                {% endif %}
                                            {% endfor %}
                                            {% if custom_fields %}
                                                {% for custom_field in custom_fields %}
                                                    {% if custom_field.custom_field_id == "6" %}
                                                    <li><b>{{ custom_field.name }}:</b> <span>{% if account_custom_field[custom_field.custom_field_id] %}{{ account_custom_field[custom_field.custom_field_id] }}{% else %}{{ custom_field.value }}{% endif %}</span></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% endif %}
                                    </ul>
                                </div>
                            </fieldset>-->
                            <fieldset>
                                <legend><i class="fa fa-list"></i> Endereço Principal</legend>
                                <div class="card">
                                    <ul>{% if addresses %}
                                            {% for result in addresses %}
                                                {% if result.address_id == default_address %}
                                                    <li><b>Endereço:</b> <span>{{ result.address_1 }}</span></li>
                                                    <li><b>Bairro:</b> <span>{{ result.address_2 }}</span> <b>Cidade:</b> <span> {{ result.city }}</span></li>
                                                    <li><b>CEP:</b> <span>{{ result.postcode }}</span></li>
                                                    <li><b>País:</b> <span>{{ result.country }}</span></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                            <p class="text-center">{{ text_no_results }}</p>
                                        {% endif %}
                                    </ul>
                                </div>
                                {% if hide  %}
				{% if addresses %}
                                <div class="text-right">
                                    <div class="col-sm-12 pr-0 pl-0">
                                        <a href="{{ update }}" class="btn btn-outline-secondary btn-sm"><i class="fas fa-edit"></i> Editar Endereço</a>
                                    </div>
                                </div> 
				{% endif %}
                                {% endif %}
                            </fieldset>         
                        </div>
                       {% if hide %}
                        <div class="col-md-12 col-sm-12">
                            <div class="account-conten-address">
                                <h3>Outros Endereços <small class="d-none d-md-inline"> Adicione novos endereços.</small></h3>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <fieldset>
                                            <legend class="cor-secundaria">
                                                <i class="fas fa-map-marker-alt"></i>
                                                Endereços Adicionais
                                                <a href="{{ add }}" class="float-right"><i class="fas fa-plus"></i> Cadastrar novo endereço</a>
                                            </legend>

                                            {% if addresses %}
                                                <div class="row">
                                                    {% for result in addresses %}
                                                         {% if result.address_id != default_address %}
                                                        <div class="col-lg-6 col-md-12 col-sm-12">
                                                            <ul class="card">
                                                             
                                                                    <li><b>Endereço:</b> <span>{{ result.address_1 }}</span></li>
                                                                    <li><b>Bairro:</b> <span>{{ result.address_2 }}</span> <b>Cidade:</b> <span> {{ result.city }}</span></li>
                                                                    <li><b>CEP:</b> <span>{{ result.postcode }}</span></li>
                                                                    <li><b>País:</b> <span>{{ result.country }}</span></li>
                                                                 


                                                            </ul>
                                                            
                                                            
                                                            <div class="text-right">
                                                                <div class="col-sm-12 pr-0 pl-0">
                                                                        <a href="{{ result.delete }}" class="btn btn-outline-danger btn-sm mr-2">{{ button_delete }}</a>
                                                                        <a href="{{ result.update }}" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> {{ text_address }}</a>
                                                                
                                                                </div>
                                                            </div> 
                                                             
                                                        </div> 
                                                         {% endif %} 
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <p class="text-center">{{ text_no_results }}</p>
                                            {% endif %}


                                        </fieldset>
                                    </div>
                                </div>
                            </div>   
                        </div>    
                       {% endif %} 
                    </div>
                </div>
            </div>		  
           
            {{ content_bottom }}</div>
        {{ column_right }}</div>
</div>
{{ footer }}
