{{ header }}
{% include 'tritao/template/common/breadcrumbs.twig' %}
<div id="account-account" class="container">
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      {{ nav_tabs }}
      <div class="account-content">
      {% if total %}
      <p>{{ text_total }} <b>{{ total }}</b></p>
      {% endif %}
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              
             <!--<td class="text-left">{{ column_empresa }}</td> -->
              <td class="text-left">{{ column_pedido }}</td>
              <td class="text-left">{{ column_vencimento }}</td>
              <td class="text-right">{{ column_valor }}</td>
            </tr>
          </thead>
          <tbody>
          
          {% if financeiros %}
          {% for financeiro in financeiros %}
          {% if financeiro.devendo != 0 %}
          <tr class="table-danger" data-toggle="tooltip" title="" data-html="true"  data-original-title="Seu boleto esta vencido, favor entrar em contato com o financeiro pelos canais abaixo: <br /> (11) 3229-9970 <br /> 3227-0776 ( Ramal 111 / Diana ) <br/> financeiro1@feassobrasil.com.br">
           <td class="text-left">{{ financeiro.pedido }}</td>
            <td class="text-left"> {{ financeiro.vencimento }}</td>
              <td class="text-right">{{ financeiro.valor }}</td>
          </tr>
          {% else %}
          <tr data-toggle="tooltip" title="" data-original-title="A vencer">
            <td class="text-left">{{ financeiro.pedido }}</td>
            <td class="text-left">{{ financeiro.vencimento }}</td>
            <td class="text-right">{{ financeiro.valor }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_empty }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
    </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      <div class="buttons clearfix">
        <div class="float-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<style>
  .tooltip-inner{
 padding:6px 7px;
 width: 300px !important;
 color:#1d60bc;
 text-align:center;
 font-weight:900;
 background: -webkit-gradient(linear, left top, left 25, from(#FFF), color-stop(4%, #FFf), to(#FFF));
 border: 1px solid #1d60bc;
 -webkit-border-radius:9px;
 -moz-border-radius:9px;
 border-radius:4px;   
 font-size: 11px;
}
</style>
{{ footer }}
