<ul class="nav border-alpha">
  <li class="nav-item {% if route ==  'account/account' or route == 'account/password' or route == 'account/edit' or route == 'account/return' %} active {% endif %}">
    <a class="nav-link " href="{{ account }}"><i class="fas fa-user"></i> {{ text_my_account }}</a>
  </li>
  <li class="nav-item {% if route ==  'account/order' or route == 'account/order/info'  %} active {% endif %}">
    <a class="nav-link" href="{{ order }}"><i class="fa fa-list"></i> {{ text_my_orders }}</a>
  </li>
   <li class="nav-item d-none d-md-inline {% if route ==  'account/address' %} active {% endif %}">
    <a class="nav-link"  href="{{ address }}"><i class="fas fa-address-card"></i> {{ text_address }}</a>
  </li>
  <li class="nav-item d-none d-md-inline {% if route ==  'account/financeiro' %} active {% endif %}">
    <a class="nav-link" href="conta/financeiro" ><i class="fa fa-dollar-sign"></i> Financeiro</a>
    </li>
  <li class="nav-item d-none d-md-inline {% if route ==  'account/wishlist' %} active {% endif %}">
    <a class="nav-link"  href="{{ wishlist }}"><i class="fas fa-heart"></i> {{ text_wishlist }}</a>
  </li>
 </ul>