{{ header }}
<style>
    
    
.item-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    box-shadow: rgb(50 50 50 / 15%) 0px 2px 4px 0px;
    outline: none;
    margin: 20px auto;
    margin-left: 0px;
    margin-right: 10px;
    transition: all 0.1s ease-in-out 0s;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(67, 171, 218);
    border-image: initial;
    -webkit-box-shadow: 0 0 16px 1px rgb(0 0 0 / 5%);
    box-shadow: 0 0 16px 1px rgb(0 0 0 / 5%);
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease,-webkit-box-shadow .3s ease;
    }  
    .item-boxes a {
    text-decoration: none;
    outline: none;
}
.item-boxes:hover {
    -webkit-box-shadow: 0 0 24px 1px rgb(0 0 0 / 15%);
    box-shadow: 0 0 24px 1px rgb(0 0 0 / 15%);
}
.item-boxes p {
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    color: rgb(82, 82, 82);
    margin-bottom: 5px;
}
.item-boxes img {
    margin: 0 auto;
    display: block;
   /* width: 67px;
    height: 57px;*/
}

.search input[type=text] {
    margin: 4px 4px 4px 5px;
    padding: 10px 5px;
    transition: width .2s ease-in-out;
    width:100%;
    border: #e0e0e0 1px solid;
    background-color: #fff;
    border-radius: 5px;
    color: #999;
    font-family: Lato,arial,helvetica,sans-serif;
    height: 47px;
    outline: 0;
    padding: 10px 15px;
    transition: background .1s ease-in-out,border .1s ease-in-out,color .1s ease-in-out;
    vertical-align: middle;
}
.search .form-control-feedback {
    position: absolute;
    top: 11px;
    right: 35px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 19px;
}
.search .form-control-feedback {
    cursor: pointer;
}
</style>    
<div id="information-information" class="container">
  {% include 'tritao/template/common/breadcrumbs.twig' %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
    <div class="container">
<div class="form-group search">
  <input type="text" name="search" value="" placeholder="Busca" class="form-control input-lg" autocomplete="off"><ul class="dropdown-menu" style="display: none;"></ul><div class="live-search" style="display: none;"><ul></ul><div class="result-text"></div></div>
    <span class="fa fa-search form-control-feedback"></span>
</div>
    
</div>
<section id="services" class="section">
 <div class="container">
<div class="section-header">
<h2 class="section-title wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">Como podemos ajudar você?
</h2>
<hr class="lines wow zoomIn animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">
<p class="section-subtitle wow fadeIn animated" data-wow-duration="1000ms" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-duration: 1000ms; -moz-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">{{ description }}</p>
</div>
<div class="row">
{% if atendimentos %}
 {% for atendimento in atendimentos %}
<div class="col-md-3 col-sm-6">
<div class="item-boxes wow fadeInDown animated" data-wow-delay="0.2s" style="visibility: visible;-webkit-animation-delay: 0.2s; -moz-animation-delay: 0.2s; animation-delay: 0.2s;">
<a href="#{{ atendimento.id }}"  data-toggle="collapse" data-target="#{{ atendimento.id }}" aria-expanded="true" aria-controls="{{ atendimento.id }}">
<img src="{{ atendimento.image }}" alt="{{ atendimento.title }}" title="{{ atendimento.title }}" class="img-responsive" />
<p>{{ atendimento.title }}</p>
</a>
</div>
</div>
    {% endfor %} 
{% endif %}
<!--description-->

<div class="accordion" id="accordionExample">
  <div class="card">
      {% if atendimentos %}
 {% for auto in atendimentos %}
    <div class="card-header" id="{{ auto.id }}">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{ auto.id }}" aria-expanded="true" aria-controls="collapseOne">
         {{ auto.title }}
        </button>
      </h5>
    </div>

    <div id="{{ auto.id }}" class="collapse show" aria-labelledby="{{ auto.id }}" data-parent="#{{ auto.id }}">
      <div class="card-body">
          {{ auto.description }}
      </div>
    </div>
   {% endfor %} 
{% endif %}
  </div>
  

</div>
 

</div>
</div>
</section>
{{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}