{{ header }}
{% set class = '' %}

{% if display_list ==  0 %}
{% set class = ' map-fulls' %}
{% endif %}

<style type="text/css">
 
.storelocator, .storelocator * {
    box-sizing: border-box;
}
.storelocator {
    position: relative;
    height: auto;
}
.gmnoprint button{
    position: relative;
    right: 60px;
}

@media only screen and (min-width: 750px){
.storelocator-formSearch {
    height: auto;
    z-index: 5;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
}
}
.storelocator-formSearch {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #fff;
}
.pac-target-input:not(:-webkit-autofill) {
    animation-name: endBrowserAutofill;
}
.asl-store-search #auto-complete-search {
    width: 100%;
    height: 40px !important;
    padding-left: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
}
#asl-storelocator.asl-p-cont.asl-bg-0 .inside.search_filter{
    border: none !important;
    padding: 0px !important;
    width: 100% !important;
}

#asl-storelocator.storelocator-main.asl-bg-0 #asl-map-canv {
    background: #ffffff;
 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
}

@media only screen and (min-width: 750px){
.storelocator-panel {
    display: block;
}
}
.storelocator-panel {
    display: none;
    overflow: auto;
    height: 100%;
    border-top: 1px solid #e7e7e7;
    margin-top: 20px;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #asl-list.storelocator-panel{
    border: none !important;
   
}
#asl-storelocator.asl-p-cont.asl-bg-0 .search_filter .form-control {
    border-radius: 5px;
    border-right: 0;
    border: 1px solid #ccc;
    box-shadow: inset 0 0 0 1px #ccc;
    display: block;
    margin-right: 0;
    min-width: 100%;
    width: auto;
}

#asl-storelocator.asl-p-cont.asl-bg-0 .sl-item{
    background: transparen !important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #asl-list .panel-inner{
     margin: 0px -10px;
    position: relative;
}
#asl-storelocator.asl-p-cont.asl-bg-0.no-asl-filters #asl-list {
    height: 300px !important;
}
/*#asl-storelocator.storelocator-main.asl-bg-0 #asl-map-canv{
    height: 537px !important;
}*/
@media only screen and (min-width: 750px){
body .store-locator-maps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 0;
}
}
.store-locator-maps.active {
    display: block;
}
.store-locator-maps {
    position: relative;
    height: 0;
    padding-top: 100%;
    display: none;
    overflow: hidden;
    width: 100%;
}
/*.store-locator-maps #asl-map-canv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/
@media only screen and (min-width: 750px){
.storelocator-sidebar {
    position: absolute !important;
    top: 20px;
    left: 20px;
    width: 350px;
    height: auto;
    max-height: calc(100% - 40px);
    z-index: 5;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
}
.sidebar-count{
    display:block !important;
}
}
@media only screen and (min-width: 750px){
.storelocator, body, html {
    height: 100%;
}
}
.storelocator-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background: #fff;
}
.sidebar-count{
    display:none;
}

.sidebarr-esults {
    display: block;
    overflow: auto;
    height: 100%;
    border-top: 1px solid #e7e7e7;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #asl-list .panel-inner {
    height: 100%;
    overflow-y: auto;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #asl-list .panel-inner {
    margin: 0;
    overflow: hidden !important;
}
.sidebar-count {
    padding: 10px 20px;
}
sidebar-results .sidebar-count p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #b9b8b8;
    font-style: italic;
}
.sidebar-list {
    padding: 0;
    margin: 0;
}
.sidebar-list-item {
    display: block;
    padding: 20px;
    border-top: 1px solid #e7e7e7;
}
.sidebar-list-item:first-child {
    border-top: none;
}
.sidebar-list-item[data-category="1"] {
    border-left: 5px solid #f60;
}
.storelocator-details-store{
    position: relative;
    font-size: 13px;
    color: #000;
}
.storelocator-details-store .addr-sec{
min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
  }
.storelocator-details-store .title {
    margin-bottom: 10px;
    text-transform: capitalize;
    font-weight: 500;
    font-size: 16px !important;
    display: block;
    text-decoration: none;
    color: #000 !important;
}
.storelocator-details-store-address {
    display: block;
    padding-bottom: 12px;
    padding-right: 90px;
}
.storelocator-details-store-zipcode {
    padding-bottom: 12px;
}
.storelocator-details-store-city {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 12px;
}
.storelocator-details-store-phone {
    display: block;
}
.storelocator-details-store-distance {
    position: absolute;
    top: 90%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #9a9a9a;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.storelocator-details-store-icon-route {
    fill: #9a9a9a;
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.modal-header{
    align-items: center !important;
    justify-content: center !important;
    border-bottom: none !important;
}
.modal-header h4{
    font-size: 25px !important;
}
.modal-m{
    max-width: 430px;
}
.btn-blue-1 {
    line-height: 21px!important;
    border-color: #de2528!important;
    background: #1d60bc!important;
    border-radius: 5px!important;
    color: #fff!important;
}
.fa-icon-button {
    width: 40px!important;
}
.svg-inline-fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .Num_of_store{
    background: transparent !important;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #b9b8b8 !important;
    font-style: italic;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .addr-sec.p-area:nth-child(2){
    max-width: 200px !important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #style_0.infoWindow h3{
    background: #1d60bc none repeat scroll 0 0 !important;
       margin: 0px 0 0 !important;
      font-size: 17px !important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .infoWindow{
    width: 300px !important;
    border-radius: 0 0 5px 5px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgb(0 0 0 / 20%), 0 -1px 0 rgb(0 0 0 / 2%);
    min-height: 150px !important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .addr-sec .p-area:nth-child(2){
    max-width:100% !important;
}
#asl-storelocator.asl-p-cont .agile-modal.fade.in{
    height: 110% !important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #style_0 .asl-buttons {
    clear: both;
    display: inline-block;
    width: 100%;
}
body #asl-storelocator.asl-p-cont.asl-template-1 .infoBox #style_0.infoWindow .infowindowContent a.action {
    width: 33.33%!important;
    margin: 0!important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .infoBox #style_0.infoWindow .infowindowContent a.action {
    background: white;
    width: 65px;
    text-decoration: none !important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .infoBox #style_0.infoWindow .infowindowContent a.action {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #ef5a28;
    text-decoration: underline !important;
    font-size: 11px;
    margin: 0 5px 5px !important;
    width: auto;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #style_0.infoWindow a.action {
    background: #ef5a28 none repeat scroll 0 0;
    border-radius: 0;
    color: #ffffff;
    float: none;
    font-size: 11px;
    margin: 0 !important;
    width: 31.33%;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #style_0 .info-addr {
    float: left;
    width: 100%;
    /* padding: 0px 00px; */
    padding-bottom: 30px;
}
#asl-storelocator.asl-p-cont.asl-bg-0 #style_0 .info-addr .distance{
     padding-top: 30px;
}

#asl-storelocator.asl-p-cont.asl-bg-0 #style_0.infoWindow .infowindowContent {
    padding: 10px 10px 5px;
    min-height: 140px;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .infoWindow a.action {
    border-radius: 0;
    font-size: 12px;
    font-weight: 500;
    margin: 0 0 0 3px;
    padding: 3px 5px;
}
#asl-storelocator.asl-p-cont.storelocator-main #style_0.infoWindow a.action, #asl-storelocator.asl-p-cont.storelocator-main #style_1.infoWindow a.action, #asl-storelocator.asl-p-cont.storelocator-main #style_2.infoWindow a.action {
    border-radius: .25rem;
    padding: 3px 6px!important;
}

.storelocator-formFilters{
    margin-top: 20px;

}
.storelocator-formFiltersRow:first-child {
    margin-top: 0;
}
.storelocator-formFiltersRow {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.storelocator-formCheckbox {
    font-size: 13px;
    position: relative;
    display: block;
    width: 50%;
    padding: 4px 0;
}
.storelocator-formFilters input[type=checkbox] {
    position: absolute;
    opacity: 0;
    top: 4px;
    left: 4px;
}
.storelocator-formFilters label {
    position: relative;
    padding: 0px 5px 6px 30px;
    font-size: 14px;
    cursor: pointer;
}
.storelocator-formFilters label.category-1:before {
    border: 2px solid #f60;
}
.storelocator-formFilters label:before {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    border: 2px solid rgba(0,0,0,.3);
}
.storelocator-formFilters input[type=checkbox]:checked+label:after {
    opacity: 1;
    
}
.storelocator-formFilters label.category-1:after {
    background-color: #65bc50;
}
.storelocator-formFilters label.category-2:after {
    background-color: #5bcbf5;
}
.storelocator-formFilters label.category-1:before{border:2px solid #41a84e}
.storelocator-formFilters label.category-2:before{border:2px solid #00b3f7}
.storelocator-formFilters label.category-3:after{background-color:#ea4c89}
.storelocator-formFilters label:after {
    content: "";
    display: block;
    opacity: 0;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 3px;
    left: 3px;
    border-radius: 3px;
    transition: opacity .2s ease-out;
    background-color: rgba(0,0,0,.3);

}
#asl-storelocator.asl-p-cont.asl-bg-0 #style_0 .info-addr{
  width: 100% !important;
}
.asl-p-cont p {
    margin: 0 0 10px;
}
.storelocator-details-store .fas, .info-addr .fas {
    width: 1em;
    margin-right: .2em;
    text-align: center;
    line-height: 1em;
    margin-left: .2em;

}
#asl-storelocator.asl-p-cont.asl-bg-0 .inside.search_filter .Num_of_store {
    top: 10px;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .Num_of_store {
    background: #c33 none repeat scroll 0 0;
    color: #fff;
    font-size: 11px;
    font-weight: 800;
    text-align: center;
    left: 0;
    margin: 0;
    padding: 7px;
    position: relative;
    top: 0;
    width: 99%;
    z-index: 999;
    background: transparent !important;
    margin: 0;
    font-size: 13px;
    line-height: 20px;
    color: #b9b8b8 !important;
    font-style: italic;
        font-weight: 600!important;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .asl-overlay {
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .asl-overlay .white {
    height: 100%;
    opacity: .5;
    width: 100%;
}
#asl-storelocator.asl-p-cont.asl-bg-0 .loading {
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 15px;
    font-weight: 700;
    left: 20%;
    padding: 10px 20px;
    position: absolute;
    text-align: center;
    top: 60%;
    white-space: nowrap;
    width: 60%;
    z-index: 2;
}
.hide{
  display: none;
}
@media only screen and (min-width: 750px){
.storelocator .storelocator-nav {
    display: none;
}
.storelocator-panel{
    display: block;
}

}
.storelocator-nav {
    height: 40px;
    position: relative;
    z-index: 10;
}
.storelocator-navList {
    display: flex;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
    padding: 0;
}
.storelocator-navListItem.active {
    border-bottom: 2px solid #000;
}
.storelocator-navListItem {
    width: 50%;
    height: 100%;
    list-style-type: none;
    border-bottom: 1px solid #b9b8b8;
}
.storelocator-navListItem.active .storelocator-navButton {
    color: #000;
}
.storelocator-navButton {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    color: #b9b8b8;
    border: 0;
    -webkit-appearance: none;
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    background: none;
    outline: none;
}
.close {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: right;
    padding: 0 5px !important;
}
.storelocator .close {
    position: absolute;
    top: 7px;
    right: 7px;
    left: auto!important;
}
.storelocator h1, .storelocator h2, .storelocator h3, .storelocator h4, .storelocator h5, .storelocator h6, .storelocator h7 {
    padding: 0;
    margin: 0;
}
.storelocator .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent !important;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.storelocator button, .storelocator button::after, .storelocator button::before {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
}
.modal {
  position: absolute;
  float: left;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}
.storelocator button {
    border: none;
}
.storelocator-sidebar.active .sidebar-results {
    display: block;
}
#style_0.infoWindow h3 {
    background: #2BA362 none repeat scroll 0 0;
    color: #fff;
    display: block;
    float: none;
    font-size: 13px;
    font-weight: bold;
    margin: 5px 0 0 !important;
    max-width: none;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-top: 3px;
    width: auto;
}
</style>
<div class="storelocator">
<div id="asl-storelocator" class="storelocator-main no-asl-filters asl-p-cont asl-template-0 asl-layout-0 asl-bg-0 {{ class }} asl-text-1">
 <div class=" asl-loc-sec">
    <div class="storelocator-sidebar asl-panel">
      
      <div class="col-xs-12 inside search_filter">
        <div class="asl-store-search storelocator-formSearch">
            <input type="text" value="" id="auto-complete-search" class=" {{ search_type_class }} storelocator-inputSearch pac-target-input form-control" placeholder="bairro, endereço ou CEP">
            <span><i class="glyphicon geo_btn_class" title="{{ geo_button }}"></i></span>
       
            {% if categories %}
            <div class="storelocator-formFilters">
        {% for category in categories %}
         {% if loop.index0 is divisible by(2) %}
        <div class="storelocator-formFiltersRow">
         {% endif %}
        <div class="storelocator-formCheckbox">
        <input type="checkbox" name="category"  id="category-{{ category.id }}" value="{{ category.id }}" data-category-id="{{ category.id }}"  />
          <label for="category-{{ category.id }}" class="category-{{ category.id }}">{{ category.name }}</label>
        </div>
        {% if loop.index is divisibleby(2) or loop.last %}
             </div>
            {% endif %}
        
        {% endfor %}
        
        </div>
        {% endif %}
        </div>
        
        <div class="Num_of_store  sidebar-count">
         <span class="count-result">  0</span> <span>{{ head_title }}</span>
        </div>    
      </div>
      <nav class="storelocator-nav">
    <ul class="storelocator-navList">
        <li class="storelocator-navListItem active">
            <button class="storelocator-navButton" data-switch-view="" data-target="map">Mapa</button>
        </li>
        <li class="storelocator-navListItem">
            <button class="storelocator-navButton" data-switch-view="" data-target="list">Lista de Lojistas</button>
        </li>
    </ul>
</nav>
  
      <!--  Panel Listing -->
      <div id="asl-list" class="storelocator-panel sidebar-results">
        <div class="asl-overlay" id="map-loading">
          <div class="white"></div>
          <div class="loading"><img style="margin-right: 10px;" class="loader" src="catalog/view/javascript/store_location/Logo/loading.gif"></div>
        </div>
        <ul class="sidebar-list">
        </ul>
        <div class="directions-cont hide">
          <div class="agile-modal-header">
            <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
            <h4>Direções</h4>
          </div>
          <div class="rendered-directions"></div>
        </div>
      </div>
    </div> 
      <!-- end siderbar-->
      <div class="asl-map">
      <div class="store-locator-maps active">
        <div id="asl-map-canv"></div>
        <!-- agile-modal -->
        <div id="agile-modal-direction" class="modal fade">
          <div class="modal-backdrop-in"></div>
          <div class="modal-dialog modal-sm in">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close-directions close" data-dismiss="agile-modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4>Get Your Directions</h4>
              </div>
              <div class="form-group">
                <label for="frm-lbl">From</label>
                <input type="text" class="form-control frm-place" id="frm-lbl" placeholder="bairro, endereço ou CEP">
              </div>
              <div class="form-group">
                <label for="frm-lbl">To</label>
                <input readonly="true" type="text"  class="directions-to form-control" id="to-lbl" placeholder="Prepopulated Destination Address">
              </div>
              <div class="form-group">
                <span for="frm-lbl">Show Distance In</span>
                <label class="checkbox-inline">
                  <input type="radio" name="dist-type"  id="rbtn-km" value="0">KM
                </label>
                <label class="checkbox-inline">
                  <input type="radio" name="dist-type" checked id="rbtn-mile" value="1"> Mile
                </label>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-default btn-submit">GET DIRECTIONS</button>
              </div>
            </div>
          </div>
        </div>

        <div id="asl-geolocation-agile-modal" class="modal show fade">
          <div class="modal-backdrop-in"></div>
          <div class="modal-dialog modal-m in">
            <div class="modal-content">
               <button type="button" class="close-directions close" data-dismiss="modal" aria-hidden="true">&times;</button>
               {% if prompt_location == 2 %}
              <div class="form-group">
                <h4>SUA GEOLOCALIZAÇÃO</h4>
              </div>
              <div class="form-group">
                <div class="">
                <div class="col-md-9 asl-p-0">
                  <input type="text" class="form-control" id="asl-current-loc" placeholder="Your Address">
                </div>
                <div class="col-md-3 asl-p-0">
                  <button type="button" id="asl-btn-locate" class="btn btn-block btn-default">LOCATE</button>
                </div>
                </div>
              </div>
              {% else %}
              <div class="modal-header">
                <h4>{{ text_the_store }}</h4>
              </div>
              <div class="form-group text-center">
                <button type="button" id="asl-btn-geolocation" class="btn btn-blue-1"><svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="map-marked" class="svg-inline-fa fa-map-marked fa-w-18 fa-icon-button" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path fill="currentColor" d="M288 0c-69.59 0-126 56.41-126 126 0 56.26 82.35 158.8 113.9 196.02 6.39 7.54 17.82 7.54 24.2 0C331.65 284.8 414 182.26 414 126 414 56.41 357.59 0 288 0zM20.12 215.95A32.006 32.006 0 0 0 0 245.66v250.32c0 11.32 11.43 19.06 21.94 14.86L160 448V214.92c-8.84-15.98-16.07-31.54-21.25-46.42L20.12 215.95zM288 359.67c-14.07 0-27.38-6.18-36.51-16.96-19.66-23.2-40.57-49.62-59.49-76.72v182l192 64V266c-18.92 27.09-39.82 53.52-59.49 76.72-9.13 10.77-22.44 16.95-36.51 16.95zm266.06-198.51L416 224v288l139.88-55.95A31.996 31.996 0 0 0 576 426.34V176.02c0-11.32-11.43-19.06-21.94-14.86z"></path></svg>Usar minha localização atual</button>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- agile-modal end -->
      </div>
    </div>
  </div>
</div>
</div>        
<script id="tmpl_list_item" type="text/x-jsrender">
    <li class="sidebar-list-item" data-id="[%:id%]">
    <div class="storelocator-details-store">
    <span class="title">[%:title%]</span>
    [%if dist_str%]
     <div class="storelocator-details-store-distance">
   <span>[%:dist_str%]</span>
    <svg xmlns="http://www.w3.org/2000/svg" class="storelocator-details-store-icon-route" viewBox="1772 1772 19.185 20"><path d="M1791.074 1775.318a.356.356 0 0 1 0 .514l-1.574 1.573c-.209.21-.464.313-.761.313h-15.009a.679.679 0 0 1-.502-.213.688.688 0 0 1-.211-.502v-2.859c0-.192.07-.36.211-.502a.688.688 0 0 1 .502-.211h6.434v-.716c0-.192.07-.36.211-.502a.682.682 0 0 1 .502-.213h1.431a.68.68 0 0 1 .502.213c.142.142.211.31.211.502v.716h5.719c.297 0 .552.102.761.312l1.573 1.575zm-10.91 10.262h2.856v5.716a.69.69 0 0 1-.211.505.686.686 0 0 1-.502.211h-1.431a.688.688 0 0 1-.502-.211.693.693 0 0 1-.211-.505v-5.716zm9.29-5.003c.193 0 .361.07.502.211.142.142.212.31.212.502v2.859c0 .192-.07.361-.212.504a.684.684 0 0 1-.502.212h-15.009c-.297 0-.551-.105-.76-.314l-1.574-1.572a.357.357 0 0 1 0-.515l1.574-1.576c.209-.209.463-.311.76-.311h5.719v-2.146h2.856v2.146h6.434z"></path></svg>
    </div>
    [%/if%]
    <span class="storelocator-details-store-address">[%:address%]</span>
   
    <div class="row">
      <div class="col-xs-12 addr-sec">
         [%if telephone%]
              <p class="p-area"><i class="fas fa-phone"></i><a href="tel:[%:telephone%]">[%:telephone%]</a></p>
        [%/if%]
       [%if email%]
        <p class="p-area"><i class="fas fa-at"></i><a href="mailto:[%:email%]" style="text-transform: lowercase">[%:email%]</a></p>
        [%/if%]
         [%if fax%]
          <p class="p-area"><i class="fas fa-fax"></i> Fax:[%:fax%]</p>
        [%/if%]
         [%if c_names%]
        <p class="p-area"><i class="fas fa-tags"></i>  [%:c_names%]</p>
        [%/if%]
        [%if open_hours%]
        <p class="p-area"><i class="far fa-clock"></i> [%:open_hours%]</p>
       [%/if%]
        [%if days_str%]
        <p class="p-area"><i class="far fa-calendar-alt"></i> [%:days_str%]</p>
       [%/if%]
      </div>
    </div>
    <!--<div class="row">
      <div class="mt-10 distance">
          <div class="col-xs-6">
            <p class="p-direction"><button type="button" class="btn btn-asl s-direction">Direction</button></p>
          </div>
           [%if dist_str%]
          <div class="col-xs-6">
              <a class="s-distance">[%:dist_str%]</a>
          </div>
        [%/if%]
      </div>
    </div>
    </div> -->
  </li>
</script>
<script id="asl_too_tip" type="text/x-jsrender">
  <h3>[%:title%]</h3>
  <div class="infowindowContent">
    <div class="info-addr">
      <div class="address"><i class="fas fa-map-marker-alt"></i><span>[%:address%]</span></div>
       [%if telephone%]
      <div class="phone"><i class="fas fa-phone"></i><a href="tel:[%:telephone%]">[%:telephone%]</a></div>
      [%/if%]
      [%if open_hours%]
      <div class="p-time"><i class="far fa-clock"></i> [%:open_hours%]</div>
     [%/if%]
      [%if days_str%]
      <div class="p-time"><i class="far fa-calendar-alt"></i> [%:days_str%]</div>
     [%/if%]
       [%if email%]
      <div class="p-time"><i class="fas fa-at"></i><a href="mailto:[%:email%]" style="text-transform: lowercase">[%:email%]</a></div>
      [%/if%]
       [%if c_names%]
      <div class="categories"><i class="fas fa-tags"></i>[%:c_names %]</div>
      [%/if%]
      [%if dist_str%]
      <div class="distance">Distância:[%:dist_str%]</div>
      [%/if%]
    </div>
  <div class="asl-buttons"></div>
</div><div class="arrow-down"></div>
</script>
<script src="{{ asl_google_maps }}" id="asl_google_maps-js"></script>
<script id="agile-store-locator-script-js-extra">
var ASL_REMOTE = {"ajax_url":"{{ ajax_url }}"};
var asl_configuration =  {{ config_stores }};
var asl_categories = {{ store_location_categories }};
var asl_markers = {{ store_location_markers }};
var _asl_map_customize = "[]";
</script>
<script src="catalog/view/javascript/store_location/js/asl_libs.js?ver=1.0.0"></script>
<script src="catalog/view/javascript/store_location/js/site_script.js?ver=1.0.3.63"></script>

{{ footer }}
