<nav class="header_nav menu-full">
    <ul class="container">
        <li class="dropdown" id="dropdown">
            <i class="fa fa-bars"></i> Todos os departamentos <i class="fa fa-caret-down fa-fw"></i>
            <div class="dropdown-content">
                {% set count = 1 %}
                 {% for category in categories %}
                      {% if category.children %}
                <div class="dropdown-sub menu-{{ count }}">
                <a href="{{ category.href }}" title="{{ category.name }}">{{ category.name }} <i class="fa fa-angle-right"></i></a>
                    <div class="dropdown-sub-category">
                        {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                        {% set counter = 1 %}
                        {% for child in children %}
                        
                        {% if child.children %}     
                        <div class="column-{{ counter }}">
                         <h4><a href="{{ child.href }}" title="{{ child.name }}">{{ child.name }}</a></h4>
                           {% for children in child.children %}
                            <a href="{{ children.href }}">{{ children.name }}</a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% set counter = counter + 1 %}
                      {% endfor %}
                    </div>
                    {% endfor %}
                </div>
         {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
        {% endif %}
        {% set count = count + 1 %}
        {% endfor %}
           </div>
        </li>
         <!-- {% if informations %}
         {% for information in informations %}
          <li><a  href="{{ information.href }}" title="{{ information.title }}">{{ information.title }}</a></li>
          {% endfor %}
      {% endif %}
      	<li><a  href="#">Nosso Portfólio</a></li>
	<li ><a  href="{{ contact }}">Contato</a></li> -->
         <li id="top-menu-links">
            <b>Preciso de ajuda:</b> <a href="{{ contact }}" >Consumidor</a> / <a href="{{ contact }}">Revendedor</a></li>
     </ul>
</nav>
