{{ header }}
<div id="common-success" class="container">
{% include 'tritao/template/common/breadcrumbs.twig' %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
	  <div class="container mt-4">
	  <div class="text-center text-success"><i class="far fa-check-circle"></i></div>
	  <div class="col-md-12">
<div class="thanks-message text-center">
    <h1 class="mb-2">{{ text_thank }} </h1>
{{ text_message }}
</div>

</div>
{% if (order_number is not empty) %} 
<div class="row justify-content-sm-center">
<div class="card mt-4">
  <div class="card-header">
   <h2><strong>{{text_order_number }}  {% if (order_number is not empty) %}  {{ order_number }}{% endif %}</strong></h2>
  </div>
</div>
</div>
{% endif %}
</div>

      <div class="buttons mt-5">
        <div class="float-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}
